*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
}

:root {
    --text-color: #111113;
    --text-color-muted: #2c2c33;
    --bg-color: #edf0f1;
    --border-color: #d2d7d8;
    --border-color-darker: #a7abac;
    --body-color: #e8ebec;

    --grid-size: 5;
}

html { font-size: 16px; }

body {
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    overflow-x: hidden;
}

.color-muted { color: var(--text-color-muted); }

.d-flex { display: flex; }
.fdc { flex-direction: column; }

.bl-0 { border-left: 0 !important; }
.br-0 { border-right: 0 !important; }
.bt-0 { border-top: 0 !important; }
.bb-0 { border-bottom: 0 !important; }

.bl-1 { border-left: 1px solid rgba(0, 0, 0, .75) !important; }
.br-1 { border-right: 1px solid rgba(0, 0, 0, .75) !important; }
.bt-1 { border-top: 1px solid rgba(0, 0, 0, .75) !important; }
.bb-1 { border-bottom: 1px solid rgba(0, 0, 0, .75) !important; }

.grid-size {
    background-color: var(--bg-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .05);
    border-radius: .4rem;
    border: 1px solid var(--border-color);
}
.grid-size-header {
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    font-size: 2rem;
    line-height: 1;
}
.grid-size-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.grid-size-item {
    font-size: 1.2rem;
    padding: 1rem;
    border: 1px dashed var(--border-color-darker);
    border-radius: .4rem;
    cursor: pointer;
    width: 7rem;
    text-align: center;
    transition: .3s ease-in-out;
}
.grid-size-item:hover {
    background-color: rgba(255, 255, 255, .2);
}
.grid-size-item.active::before {
    content: 'SELECTED';
    position: absolute;
    left: 5%;
    top: 30%;
    transform: rotate(-20deg);
    z-index: 0;
    color: rgba(19, 255, 19, 0.2);
    font-weight: bold;
}
.grid-size-item.active {
    border: 1px solid var(--border-color-darker);
    background-color: rgba(255, 255, 255, .2);
    position: relative;
}
.grid-size-footer {
    padding: .6rem 1rem;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-primary {
    padding: .5rem 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    background: #3260c2;
    font-weight: bold;
    color: white;
    border-radius: .4rem;
    transition: .3s ease-in-out;
    border: 2px solid rgba(255, 255, 255, .1);
    font-size: .9rem;
}
.btn-primary:hover,
.btn-primary:active {
    border: 2px solid rgba(255, 255, 255, .4);
    background: #3b68ca;
}

.btn-secondary {
    padding: .5rem 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: #3260c2;
    border-radius: .4rem;
    transition: .3s ease-in-out;
    border: 2px solid #3260c2;
    font-size: .9rem;
}
.btn-secondary:hover,
.btn-secondary:active {
    border: 2px solid rgba(255, 255, 255, .1);
    color: white;
    background: #3260c2;
}

.btn-danger {
    background: #ff3939;
}
.btn-danger:hover,
.btn-danger:active {
    border: 2px solid rgba(255, 255, 255, .4);
    background: #ff4242;
}

.btn-icon {
    padding: .25rem .5rem;
    cursor: pointer;
    color: #3260c2;
    border-radius: .4rem;
    transition: .3s ease-in-out;
    border: 2px solid #3260c2;
    font-size: 1.2rem;
    line-height: 1;
}
.btn-icon:hover,
.btn-icon:active {
    border: 2px solid rgba(255, 255, 255, .1);
    color: white;
    background: #3260c2;
}

.input {
    border: 1px solid var(--border-color);
    padding: .5rem;
    border-radius: .4rem;
    color: var(--text-color);
}
.input:focus {
    box-shadow: 0 0 .3rem #3260c2;
}
.nonogram-grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    gap: 0;
    border: 2px solid rgba(0, 0, 0, .75);
    background-color: rgba(255, 255, 255, .4);
    max-width: fit-content;
}
.nonogram-grid-item {
    width: 2rem;
    height: 2rem;
    border: .5px solid var(--border-color-darker);
}
.nonogram-grid-item.filled {
    background-color: rgba(0, 0, 0, .8);
}

.saved-item {
    box-shadow: 0 0 .5rem rgba(0, 0, 0, .1);
    border-radius: .4rem;
    border: 1px solid var(--border-color);
    width: 10rem;
    background-color: rgba(255, 255, 255, .2);
}
.saved-item-title {
    padding: .5rem 1rem;
    padding-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.saved-item-subtitle {
    padding: .5rem 1rem;
    padding-top: 0;
    text-align: center;
    font-size: .8rem;
    color: var(--text-color-muted);
}
.saved-item-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1em;
}

.main {
    display: none;
    background-color: var(--bg-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .05);
    border-radius: .4rem;
    border: 1px solid var(--border-color);
    margin: 2rem;
}
.main.blur {
    filter: blur(.5rem);
    user-select: none;
    pointer-events: none;
}
.main-header {
    padding: 1rem 1.5rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    font-size: 2rem;
    line-height: 1;
}
.main-subfooter {
    padding: .5rem .75rem;
    border-top: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: end;
    gap: .75rem;
}
.main-footer {
    padding: .6rem 1rem;
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-content {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-header {
    border-bottom: 0;
    border: 2px solid transparent;
    border-bottom: 0;
}
.grid-sidebar {
    margin-top: calc(3rem + 2px);
    border: 2px solid transparent;
    border-right: 0;
}
.header-input {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    background-color: var(--border-color);
    border: 1px solid var(--bg-color);
    border-radius: .4rem;
    color: var(--text-color);
    font-size: .8rem;
    text-align: center;
    overflow: hidden;
}
.grid-sidebar > .header-input {
    height: 2rem;
    width: 3rem;
    text-align: right;
    justify-content: end;
    padding: 0 .5rem;
}
.grid-header > .header-input {
    height: 3rem;
    width: 2rem;
    align-items: flex-end;
    padding: .5rem 0;
}

.popup {
    position: absolute;
    left: 50%;
    width: fit-content;
    min-width: 30rem;
    transform: translate(-50%, -50%);
    z-index: 3;
    background-color: var(--bg-color);
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
    border-radius: .4rem;
    border: 1px solid var(--border-color);
    top: -50%;
    transition: .3s ease-in-out;
    opacity: 0;
}
.popup.active {
    display: block;
    top: 50%;
    opacity: 1;
}

.nonogram-preview {
    padding: .5rem;
    border-bottom: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview-grid {
    display: grid;
    gap: 0;
    border: 2px solid rgba(0, 0, 0, .75);
    background-color: rgba(255, 255, 255, .4);
    max-width: fit-content;
}
.preview-grid.grid-5 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.preview-grid.grid-10 {
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.preview-grid.grid-15 {
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(15, 1fr);
}
.preview-grid.grid-5 > .preview-item {
    width: calc((10rem - 2rem) / 5);
    height: calc((10rem - 2rem) / 5);
}
.preview-grid.grid-10 > .preview-item {
    width: calc((10rem - 2rem) / 10);
    height: calc((10rem - 2rem) / 10);
}
.preview-grid.grid-15 > .preview-item {
    width: calc((10rem - 2rem) / 15);
    height: calc((10rem - 2rem) / 15);
}
.preview-item.filled {
    background-color: rgba(0, 0, 0, .8);
}

@media screen and (max-width: 576px) {
    .grid-size-container {
        flex-direction: column;
    }
    .popup {
        width: 90vw;
    }
    .grid-sidebar > .header-input {
        height: 1.5rem;
        width: 2.25rem;
    }
    .grid-header > .header-input {
        height: 2.25rem;
        width: 1.5rem;
    }
    .nonogram-grid-item {
        width: 1.5rem;
        height: 1.5rem;
    }
    .grid-sidebar {
        margin-top: calc(2.25rem + 2px);
    }
}